  /* The navigation menu */
.navbar {
  overflow: hidden;
  background-image: linear-gradient(325deg, rgba(0, 192, 224, 1) 0%, rgba(128, 0, 224, 1) 100%);
}

/* Navigation links */
.navbar a {
  float: left;
  font-size: 16px;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

/* The subnavigation menu */
.subnav {
  background-image: linear-gradient(325deg, rgba(0, 192, 224, 1) 0%, rgba(128, 0, 224, 1) 100%);
  float: right;
  overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
  background-image: linear-gradient(325deg, rgba(0, 192, 224, 1) 0%, rgba(128, 0, 224, 1) 100%);
  font-size: 16px;
  border: none;
  outline: none;
  padding: 14px 16px;
  font-family: inherit;
  margin: 0;
}

/* Subnav button links */
.subnav .subnavbtn a {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  font-family: inherit;
  margin: 0;
}

/* Add a red background color to navigation links on hover */
.subnav:hover .subnavbtn {
  /*background-image: linear-gradient(325deg, rgba(0, 192, 224, 1) 0%, rgba(128, 0, 224, 1) 100%);*/
  background-image: rgba(0, 0, 0, 0)
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: grey;
  width: 100%;
  z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
  float: right;
  color: white;
  text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-image: linear-gradient(325deg, rgba(0, 192, 224, 1) 0%, rgba(128, 0, 224, 1) 100%);
  color: white;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
} 