<input type="checkbox" id="$(chat[1])" class="hide"/>
<label for="$(chat[1])">$(chat[2][1][5])</label>
<div>
    <%
        @foreach(chat) do messages
    %>
       <% partial("app/resources/frontend/views/_messages_chat_messages.jl.html") %>
    <%
        end
    %>
</div>