<div>
    to: <a href="/profile?pid=$(message[3])">$(message[4])</a>&emsp;<a href="/messages/newmessage?to=$(message[3])&from=$(pid)">new</a> <br>
    from: <a href="/profile?pid=$(message[5])">$(message[6])</a> <br>
    content: $(message[2]) <br>
    <%
        if message[5] == pid
            """<a href="/message/edit?pid=$(pid)&message_id=$(message[1])">edit</a>&emsp;&emsp;""" * """<a href="/message/remove?pid=$(pid)&message_id=$(message[1])">remove</a>"""
        else
            """"""
        end
    %>
    <br><br><br>
</div>