<div class="subnav">
    <button class="subnavbtn">Notifications</button>
    <div class="subnav-content">
        <a href="#">TEST1</a>
        <a href="#">TEST2</a>
        <a href="#">TEST3</a>
    </div>
</div>