<div class="subnav">
    <button class="subnavbtn">
        <a href="#">My Profiles</a>
    </button>
    <div class="subnav-content">
        <%
            @foreach(@vars(:profiles)) do profile
        %>
            <a href="/profile?pid=$(profile[1])">$(profile[2])</a>
        <%
            end
        %>
    </div>
</div>