<div class="subnav">
    <button class="subnavbtn">
        <%
            if isnothing(whoami)
            """<a href="#">""" * """User""" * """</a>"""
            else
                """<a href="/profile">""" * whoami * """</a>"""
            end
        %>
    </button>
    <div class="subnav-content">
        <a href="/login">Log-In</a>
        <a href="/logout">Log-Out</a>
    </div>
</div>