<html>

<head>
    <link rel="stylesheet" href="navbar.css">
</head>

<body>

    <header>
        <%
            partial("app/resources/frontend/views/navbar.jl.html")
        %>
    </header>

    <main>
        <br>
        <a href="/profiles"><h3>Profiles</h3></a>
    </main>

</body>

</html>