<html>

<head>
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="form.css">
</head>

<body>

    <header>
        <%
            partial("app/resources/frontend/views/navbar.jl.html")
        %>
    </header>

    <main>
        <form method="POST">
            <label for="login">login:</label><br>
            <input type="text" id="login" name="login"><br>
            <label for="password">password:</label><br>
            <input type="password" id="password" name="password"><br><br>
            <input type="submit" value="Submit">
        </form>
    </main>

</body>

</html>