<html>

<head>
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="messages.css">
</head>

<body>

    <header>
        <%
            partial("app/resources/frontend/views/navbar.jl.html")
        %>
    </header>

    <main>
        <%
            partial("app/resources/frontend/views/_profile_name.jl.html")
        %>

        <%
            partial("app/resources/frontend/views/_profile_description.jl.html")
        %>

        <%
            @foreach(messages) do message
        %>
            <% partial("app/resources/frontend/views/_messages.jl.html", message=message, pid=pid) %>
        <%
            end
        %>
    </main>

</body>

</html>