<html>

<head>
</head>

<body>

    <header>
    </header>

    <main>
        <form method="POST">
            <label for="login">Login:</label><br>
            <input type="text" id="login" name="login" value="$(login)"><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" value="$(password)"><br>
            <label for="profile_id">profile_id:</label><br>
            <input type="text" id="profile_id" name="profile_id"><br><br>
            <input type="submit" value="Submit">
        </form>
        <br>
        <br>

        <%
            @foreach(@vars(:profiles)) do profile
        %>
            <% """profile_id: """ * string(profile[1]) * """<br>name: """ * profile[2] * """<br>description: """ * profile[3] * """<br><br><br>"""%>
        <%
            end
        %>
    </main>

</body>

</html>