<html>

<head>
</head>

<body>

    <header>
    </header>

    <main>
        <form method="POST">
            <label for="login">Login:</label><br>
            <input type="text" id="login" name="login" value="$(login)"><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" value="$(password)"><br>
            <label for="message_id">message_id:</label><br>
            <input type="text" id="message_id" name="message_id"><br><br>
            <input type="submit" value="Submit">
        </form>
        <br>
        <br>

        <%
            @foreach(@vars(:messages)) do message
        %>
            <% """message_id: """ * string(message[1]) * """<br>to: """ * string(message[2]) * """<br>from: """ * string(message[3]) * """<br>content: """ * message[4] * """<br><br><br>"""%>
        <%
            end
        %>
    </main>

</body>

</html>