<html>

<head>
</head>

<body>

    <header>
    </header>

    <main>
        <form method="POST">
            <label for="login">Login:</label><br>
            <input type="text" id="login" name="login" value="$(login)"><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" value="$(password)"><br>
            <label for="post_id">post_id:</label><br>
            <input type="text" id="post_id" name="post_id"><br><br>
            <input type="submit" value="Submit">
        </form>
        <br>
        <br>

        <%
            @foreach(@vars(:posts)) do post
        %>
            <% """post_id: """ * string(post[1]) * """<br>profile_id: """ * string(post[2]) * """<br>content: """ * post[3] * """<br><br><br>"""%>
        <%
            end
        %>
    </main>

</body>

</html>