<html>

<head>
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="form.css">
</head>

<body>

    <header>
    </header>

    <main>
        <form method="POST">
            <input type="hidden" id="pid" name="pid" value="$(pid)">
            <input type="hidden" id="to" name="to" value="$(to)">
            <label for="from">Choose a profile:</label>
            <select id="from" name="from">
                <%
                    @foreach(@vars(:profiles)) do profile
                %>
                    <option value="$(profile[1])">$(profile[2])</option>
                <%
                    end
                %>
            </select><br>
            <label for="content">Content:</label><br>
            <input type="text" id="content" name="content"><br>
            <input type="submit" value="Submit">
        </form>
    </main>

</body>

</html>