<html>

<head>
    <link rel="stylesheet" href="navbar.css">
</head>

<body>

    <header>
        <%
            partial("app/resources/frontend/views/navbar.jl.html")
        %>
    </header>

    <main>
        <%
            partial("app/resources/frontend/views/_profile_name.jl.html")
        %>

        <%
            partial("app/resources/frontend/views/_profile_description.jl.html")
        %>

        <%
            if pid in pids
                partial("app/resources/frontend/views/_posts_newpost.jl.html")
            else
                """<br>"""
            end
        %>
        
        <%
            @foreach(posts) do post
        %>
            <%
                if post[1] != 0
                    if pid in pids
                        """<h3>$(post[2])</h3>""" * 
                        """<a href="/post/edit?post_id=$(post[1])&pid=$(pid)">edit</a>""" *
                        """&emsp;&emsp;<a href="/post/remove?post_id=$(post[1])&pid=$(pid)">remove</a><br><br><br>"""
                    else
                        """<h3>$(post[2])</h3><br>"""
                    end
                else
                    ""
                end
            %>
        <%
            end
        %>
    </main>

</body>

</html>