<html>

<head>
    <link rel="stylesheet" href="navbar.css">
</head>

<body>

    <header>
        <%
            partial("app/resources/frontend/views/navbar.jl.html")
        %>
    </header>

    <main>
        <ul>
            <%
                @foreach(@vars(:allProfiles)) do profile
            %>
                <li><a href="/profile?pid=$(profile[1])">$(profile[2])</a></li>
            <%
                end
            %>
        </ul>
    </main>

</body>

</html>