<html>

<head>
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="profile.css">
</head>

<body>

    <header>
        <%
            partial("app/resources/frontend/views/navbar.jl.html")
        %>
    </header>

    <main>
        <%
            partial("app/resources/frontend/views/_profile_name.jl.html")
        %>

        <%
            partial("app/resources/frontend/views/_profile_description.jl.html")
        %>

        <%
            if pid in pids
                """<br><a href="/profile/edit?pid=$(pid)">Edit profile</a>"""
            else
                """"""
            end
        %>
        <br>
        <a href="/posts?pid=$(pid)">Posts</a>
        <%
            if pid in pids
                """<br><a href="/messages?pid=$(pid)">Messages</a>"""
            elseif ! isempty(pids)
                """<br><a href="/message/new?to=$(pid)">New message</a>"""
            else
                ""
            end
        %>
    </main>

</body>

</html>